html, body {
     height: 100%;
   }
   
   .homepage {
          height: 100%;
   }
.dyuthitxt1{
     position: absolute;
     width: 1700px;
     height: 281px;
     left: 110px;
     top: -38px;
     
     font-family: 'Avenir Next LT Pro';
     font-style: normal;
     font-weight: 700;
     font-size: 244.439px;
     line-height: 281px;
     /* identical to box height, or 115% */
     
     text-align: center;
     letter-spacing: 0.05em;
     
     opacity: 0.9;
}
.dyuthitxt2{
     position: absolute;
     width: 1700px;
     height: 281px;
     left: 110px;
     top: 94px;
     
     font-family: 'Avenir Next LT Pro';
     font-style: normal;
     font-weight: 700;
     font-size: 244.439px;
     line-height: 281px;
     /* identical to box height, or 115% */
     
     text-align: center;
     letter-spacing: 0.05em;
     
     opacity: 0.9;
}
.dyuthitxt3{
     position: absolute;
     width: 1700px;
     height: 281px;
     left: 110px;
     top: 226px;
     
     font-family: 'Avenir Next LT Pro';
     font-style: normal;
     font-weight: 700;
     font-size: 244.439px;
     line-height: 281px;
     /* identical to box height, or 115% */
     
     text-align: center;
     letter-spacing: 0.05em;
     
     background: linear-gradient(180deg, rgba(255, 255, 255, 0.280313) 9.49%, rgba(0, 0, 0, 0) 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;
     text-fill-color: transparent;
     
     opacity: 0.9;
}
.dhyuthitxt4{
     position: absolute;
     width: 297px;
     height: 55px;
     left: 73px;
     top: 137px;
     
     font-family: 'Avenir Next LT Pro';
     font-style: normal;
     font-weight: 700;
     font-size: 47.873px;
     line-height: 55px;
     /* identical to box height, or 115% */
     
     text-align: center;
     letter-spacing: 0.05em;
     
     color: #DFDFE9;
}

.dot1{
     position: absolute;
width: 13.21px;
height: 13.21px;
left: 414.04px;
top: 292px;
border-radius: 50%;

background: #FFFFFF;
box-shadow: 0px 0px 31.5343px #FFFFFF, 0px 0px 18.0196px #FFFFFF, 0px 0px 10.5114px #FFFFFF, 0px 0px 5.25571px #FFFFFF, 0px 0px 1.50163px #FFFFFF, 0px 0px 0.750816px #FFFFFF;
}
.dot2{
     position: absolute;
width: 13.21px;
height: 13.21px;
left: 344.84px;
top: 378.11px;
border-radius: 50%;

background: #FFFFFF;
box-shadow: 0px 0px 31.5343px #FFFFFF, 0px 0px 18.0196px #FFFFFF, 0px 0px 10.5114px #FFFFFF, 0px 0px 5.25571px #FFFFFF, 0px 0px 1.50163px #FFFFFF, 0px 0px 0.750816px #FFFFFF;
}
.dot3{
     position: absolute;
width: 13.21px;
height: 13.21px;
left: 363.86px;
top: 445.73px;
border-radius: 50%;

background: #FFFFFF;
box-shadow: 0px 0px 31.5343px #FFFFFF, 0px 0px 18.0196px #FFFFFF, 0px 0px 10.5114px #FFFFFF, 0px 0px 5.25571px #FFFFFF, 0px 0px 1.50163px #FFFFFF, 0px 0px 0.750816px #FFFFFF;
}
.dot4{
     /* Ellipse 191 */


position: absolute;
width: 13.21px;
height: 13.21px;
left: 326.88px;
top: 527.61px;
border-radius: 50%;

background: #FFFFFF;
box-shadow: 0px 0px 31.5343px #FFFFFF, 0px 0px 18.0196px #FFFFFF, 0px 0px 10.5114px #FFFFFF, 0px 0px 5.25571px #FFFFFF, 0px 0px 1.50163px #FFFFFF, 0px 0px 0.750816px #FFFFFF;
}
.dot5{
     /* Ellipse 190 */


position: absolute;
width: 13.21px;
height: 13.21px;
left: 382.87px;
top: 604.21px;
border-radius: 50%;

background: #FFFFFF;
box-shadow: 0px 0px 31.5343px #FFFFFF, 0px 0px 18.0196px #FFFFFF, 0px 0px 10.5114px #FFFFFF, 0px 0px 5.25571px #FFFFFF, 0px 0px 1.50163px #FFFFFF, 0px 0px 0.750816px #FFFFFF;
}
.dot6{
     position: absolute;
width: 13.21px;
height: 13.21px;
left: 585.73px;
top: 604.21px;
border-radius: 50%;

background: #FFFFFF;
box-shadow: 0px 0px 31.5343px #FFFFFF, 0px 0px 18.0196px #FFFFFF, 0px 0px 10.5114px #FFFFFF, 0px 0px 5.25571px #FFFFFF, 0px 0px 1.50163px #FFFFFF, 0px 0px 0.750816px #FFFFFF;
}
.dot7{
     /* Ellipse 188 */


position: absolute;
width: 13.21px;
height: 13.21px;
left: 560.9px;
top: 661.26px;
border-radius: 50%;

background: #FFFFFF;
box-shadow: 0px 0px 31.5343px #FFFFFF, 0px 0px 18.0196px #FFFFFF, 0px 0px 10.5114px #FFFFFF, 0px 0px 5.25571px #FFFFFF, 0px 0px 1.50163px #FFFFFF, 0px 0px 0.750816px #FFFFFF;
}
.dot8{
     /* Ellipse 187 */

position: absolute;
width: 13.21px;
height: 13.21px;
left: 418.27px;
top: 678.69px;
border-radius: 50%;

background: #FFFFFF;
box-shadow: 0px 0px 31.5343px #FFFFFF, 0px 0px 18.0196px #FFFFFF, 0px 0px 10.5114px #FFFFFF, 0px 0px 5.25571px #FFFFFF, 0px 0px 1.50163px #FFFFFF, 0px 0px 0.750816px #FFFFFF;
}
.dot9{
     /* Ellipse 186 */


position: absolute;
width: 13.21px;
height: 13.21px;
left: 247.64px;
top: 616.36px;
border-radius: 50%;

background: #FFFFFF;
box-shadow: 0px 0px 31.5343px #FFFFFF, 0px 0px 18.0196px #FFFFFF, 0px 0px 10.5114px #FFFFFF, 0px 0px 5.25571px #FFFFFF, 0px 0px 1.50163px #FFFFFF, 0px 0px 0.750816px #FFFFFF;
}
.dot10{
     /* Ellipse 185 */


position: absolute;
width: 13.21px;
height: 13.21px;
left: 161px;
top: 633.26px;
border-radius: 50%;

background: #FFFFFF;
box-shadow: 0px 0px 31.5343px #FFFFFF, 0px 0px 18.0196px #FFFFFF, 0px 0px 10.5114px #FFFFFF, 0px 0px 5.25571px #FFFFFF, 0px 0px 1.50163px #FFFFFF, 0px 0px 0.750816px #FFFFFF;
}
.dot11{
     /* Ellipse 184 */


position: absolute;
width: 13.21px;
height: 13.21px;
left: 235.48px;
top: 774.84px;
border-radius: 50%;

background: #FFFFFF;
box-shadow: 0px 0px 31.5343px #FFFFFF, 0px 0px 18.0196px #FFFFFF, 0px 0px 10.5114px #FFFFFF, 0px 0px 5.25571px #FFFFFF, 0px 0px 1.50163px #FFFFFF, 0px 0px 0.750816px #FFFFFF;
}
.dot12{
     /* Ellipse 183 */


position: absolute;
width: 13.21px;
height: 13.21px;
left: 388.15px;
top: 831.89px;
border-radius: 50%;

background: #FFFFFF;
box-shadow: 0px 0px 31.5343px #FFFFFF, 0px 0px 18.0196px #FFFFFF, 0px 0px 10.5114px #FFFFFF, 0px 0px 5.25571px #FFFFFF, 0px 0px 1.50163px #FFFFFF, 0px 0px 0.750816px #FFFFFF;
}
.dot13{
     /* Ellipse 182 */


position: absolute;
width: 13.21px;
height: 13.21px;
left: 532.9px;
top: 810.23px;
border-radius: 50%;

background: #FFFFFF;
box-shadow: 0px 0px 31.5343px #FFFFFF, 0px 0px 18.0196px #FFFFFF, 0px 0px 10.5114px #FFFFFF, 0px 0px 5.25571px #FFFFFF, 0px 0px 1.50163px #FFFFFF, 0px 0px 0.750816px #FFFFFF;
}
.dot14{/* Ellipse 181 */


     position: absolute;
     width: 13.21px;
     height: 13.21px;
     left: 617.42px;
     top: 737.86px;
     border-radius: 50%;
     
     background: #FFFFFF;
     box-shadow: 0px 0px 31.5343px #FFFFFF, 0px 0px 18.0196px #FFFFFF, 0px 0px 10.5114px #FFFFFF, 0px 0px 5.25571px #FFFFFF, 0px 0px 1.50163px #FFFFFF, 0px 0px 0.750816px #FFFFFF;}
.dot15{
     /* Ellipse 180 */


position: absolute;
width: 13.21px;
height: 13.21px;
left: 678.17px;
top: 659.15px;
border-radius: 50%;

background: #FFFFFF;
box-shadow: 0px 0px 31.5343px #FFFFFF, 0px 0px 18.0196px #FFFFFF, 0px 0px 10.5114px #FFFFFF, 0px 0px 5.25571px #FFFFFF, 0px 0px 1.50163px #FFFFFF, 0px 0px 0.750816px #FFFFFF;
}
.dot16{
     /* Ellipse 198 */


position: absolute;
width: 13.21px;
height: 13.21px;
left: 406.12px;
top: 574.62px;
border-radius: 50%;

background: #FFFFFF;
box-shadow: 0px 0px 31.5343px #FFFFFF, 0px 0px 18.0196px #FFFFFF, 0px 0px 10.5114px #FFFFFF, 0px 0px 5.25571px #FFFFFF, 0px 0px 1.50163px #FFFFFF, 0px 0px 0.750816px #FFFFFF;
}
.dot17{
     /* Ellipse 197 */


position: absolute;
width: 13.21px;
height: 13.21px;
left: 388.68px;
top: 545.04px;
border-radius: 50%;

background: #FFFFFF;
box-shadow: 0px 0px 31.5343px #FFFFFF, 0px 0px 18.0196px #FFFFFF, 0px 0px 10.5114px #FFFFFF, 0px 0px 5.25571px #FFFFFF, 0px 0px 1.50163px #FFFFFF, 0px 0px 0.750816px #FFFFFF;
}
.dot18{
     /* Ellipse 196 */


position: absolute;
width: 13.21px;
height: 13.21px;
left: 442.57px;
top: 448.37px;
border-radius: 50%;

background: #FFFFFF;
box-shadow: 0px 0px 31.5343px #FFFFFF, 0px 0px 18.0196px #FFFFFF, 0px 0px 10.5114px #FFFFFF, 0px 0px 5.25571px #FFFFFF, 0px 0px 1.50163px #FFFFFF, 0px 0px 0.750816px #FFFFFF;
}
.dot19{
     /* Ellipse 195 */


position: absolute;
width: 13.21px;
height: 13.21px;
left: 410.34px;
top: 390.26px;
border-radius: 50%;

background: #FFFFFF;
box-shadow: 0px 0px 31.5343px #FFFFFF, 0px 0px 18.0196px #FFFFFF, 0px 0px 10.5114px #FFFFFF, 0px 0px 5.25571px #FFFFFF, 0px 0px 1.50163px #FFFFFF, 0px 0px 0.750816px #FFFFFF;
}
.comingsoon{
     position: absolute;
     width: 795px;
     height: 116px;
     left: 959px;
     top: 372px;
     
     font-family: 'Avenir Next LT Pro';
     font-style: normal;
     font-weight: 700;
     font-size: 119.778px;
     line-height: 115px;
     /* identical to box height, or 96% */
     
     letter-spacing: 0.01em;
     
     background: linear-gradient(180deg, #FFFEFE 0%, rgba(184, 184, 184, 0.83) 227.64%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;
     text-fil-color: transparent;
}
.dhlogo{
     position: absolute;
     width: 244px;
     height: 202px;
     left: 509px;
     top: 391px;
     
     font-family: 'Constellation';
     font-style: normal;
     font-weight: 400;
     font-size: 209.725px;
     line-height: 202px;
     /* identical to box height, or 96% */
     
     letter-spacing: 0.01em;
     
     color: #FFFFFF;
}
._days{
     position: relative;
     left: 1003.34px;
     top: 664.3px;
     
     
     font-family: 'Avenir Next LT Pro';
     font-style: normal;
     font-weight: 700;
     font-size: 43.9793px;
     line-height: 53px;
     /* identical to box height */
     
     
     color: #FFFFFF;
}
._hours{
     position: absolute;
     left: 1214.45px;
     top: 664.3px;

     font-family: 'Avenir Next LT Pro';
     font-style: normal;
     font-weight: 700;
     font-size: 43.9793px;
     line-height: 53px;
     /* identical to box height */
     
     
     color: #FFFFFF;
}
._minutes{

position: absolute;
left: 1439.08px;
top: 664.3px;

font-family: 'Avenir Next LT Pro';
font-style: normal;
font-weight: 700;
font-size: 43.9793px;
line-height: 53px;
/* identical to box height */


color: #FFFFFF;
}
._sec{

     position: absolute;
     left: 1632.06px;
     top: 664.3px;
     
     font-family: 'Avenir Next LT Pro';
     font-style: normal;
     font-weight: 700;
     font-size: 43.9793px;
     line-height: 53px;
     /* identical to box height */
     
     
     color: #FFFFFF;
}
.days{
     position: absolute;
     left: 998.24px;
     top: 752.72px;

     
     font-family: 'Iceberg';
     font-style: normal;
     font-weight: 400;
     font-size: 30.4472px;
     line-height: 37px;
     
     color: #FFFFFF;
}
.hours{
     position: absolute;
     left: 1196.96px;
     top:  752.72px;
     
     font-family: 'Iceberg';
     font-style: normal;
     font-weight: 400;
     font-size: 30.4472px;
     line-height: 37px;
     
     color: #FFFFFF;
}
.minutes{
     position: absolute;
     left: 1415.5px;
     top:  752.72px;
     
     font-family: 'Iceberg';
     font-style: normal;
     font-weight: 400;
     font-size: 30.4472px;
     line-height: 37px;
     
     color: #FFFFFF;
}
.seconds{
     position: absolute;
     left: 1638.3px;
     top:  752.72px;
     
     font-family: 'Iceberg';
     font-style: normal;
     font-weight: 400;
     font-size: 30.4472px;
     line-height: 37px;
     
     color: #FFFFFF;
     
}
.dhyuthilogo{
     position: absolute;
     width: 514.53px;
     height: 539.62px;
     left: 168.39px;
     top: 298.87px;
     
     border: none;
}
.dayround{
     box-sizing: border-box;

     position: absolute;
     left: 969.85px;
     top: 680.85px;
}
.hourround{

     box-sizing: border-box;

     position: absolute;
     left: 1174.56px;
     top:  680.85px;
}
.minuteround{

box-sizing: border-box;

position: absolute;
left: 1386.47px;
top:  680.85px;
}
.secondround{
     box-sizing: border-box;

     position: absolute;
     left: 1601.28px;
     top:  680.85px;
}